.nav1 {
  height: 90px;
  width: 100%; }
  .nav1 .topnav1 {
    height: 35px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #F5F5F5;
    padding-left: 50px;
    padding-right: 50px; }
    .nav1 .topnav1__lft {
      width: auto;
      height: 100%; }
      .nav1 .topnav1__lft ul {
        display: flex;
        list-style-type: none;
        align-items: center; }
        .nav1 .topnav1__lft ul li {
          margin: 8px;
          height: auto;
          width: auto; }
          .nav1 .topnav1__lft ul li div {
            height: auto;
            width: auto;
            display: flex;
            align-items: center; }
            .nav1 .topnav1__lft ul li div img {
              height: auto;
              width: auto; }
          .nav1 .topnav1__lft ul li a {
            color: #666666;
            text-decoration: none;
            font-weight: 300;
            font-size: 16px; }
    .nav1 .topnav1__rgt {
      height: 100%;
      width: auto;
      display: flex;
      align-items: center; }
      .nav1 .topnav1__rgt ul {
        display: flex;
        list-style-type: none; }
        .nav1 .topnav1__rgt ul li {
          margin: auto 8px;
          height: auto;
          width: auto; }
          .nav1 .topnav1__rgt ul li a {
            text-decoration: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #666666; }
        .nav1 .topnav1__rgt ul li::before {
          content: "\2022";
          color: #04BBF2;
          width: 5px;
          height: 5px;
          margin-right: 10px; }
      .nav1 .topnav1__rgt button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 140px;
        height: 29px;
        border: 1px solid #FFFFFF;
        background-color: #10385B;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: #FFFFFF;
        margin-left: 20px; }
  .nav1 .btmnav1 {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px; }
    .nav1 .btmnav1__lft {
      height: 100%;
      width: auto;
      display: flex;
      align-items: center; }
      .nav1 .btmnav1__lft img {
        height: 28px;
        width: 150px; }
    .nav1 .btmnav1__rgt {
      display: flex;
      height: 100%;
      width: auto; }
      .nav1 .btmnav1__rgt ul {
        display: flex;
        align-items: center;
        list-style-type: none; }
        .nav1 .btmnav1__rgt ul li {
          margin: auto 8px; }
          .nav1 .btmnav1__rgt ul li a {
            text-decoration: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #10385B; }

@media (min-width: 400px) and (max-width: 1000px) {
  .nav1 {
    height: auto;
    padding: 0; }
    .nav1 .topnav1 {
      display: inline-block;
      height: auto;
      border: 0;
      padding: 0px; }
      .nav1 .topnav1__lft {
        width: 100%;
        display: flex;
        justify-content: space-between; }
      .nav1 .topnav1__rgt {
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .nav1 .topnav1__rgt ul li::before {
          content: initial; }
    .nav1 .btmnav1 {
      height: auto;
      padding: 0;
      display: inline-block; }
      .nav1 .btmnav1 img {
        margin: 8px; }
      .nav1 .btmnav1 ul {
        overflow-x: scroll; } }

/*# sourceMappingURL=navbar.css.map */
