.nav {
  height: 90px;
  width: 100%;

  .topnav {
    height: 35px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #F5F5F5;
    padding-left: 50px;
    padding-right: 50px;


    &__lft {
      width: auto;
      height: 100%;

      ul {
        display: flex;
        list-style-type: none;
        align-items: center;

        li {
          margin: 8px;
          height: auto;
          width: auto;

          div {
            height: auto;
            width: auto;
            display: flex;
            align-items: center;

            img {
              height: auto;
              width: auto;
            }
          }

          a
          {
            color: #666666;
            text-decoration: none;
            font-weight: 300;
            font-size: 16px;
          }
        }
      }
    }

    &__rgt
    {
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;

        ul
        {
            display: flex;
            list-style-type: none;

            li
            {
                margin: auto 8px;
                height: auto;
                width: auto;

                a
                {
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    color: #666666;
                }
            }

            li::before {
                content: "\2022";
                color: #04BBF2; 
                width: 5px;
                height: 5px;
                margin-right: 10px;
              }
        }

        button
        {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 140px;
            height: 29px;
            border: 1px solid #FFFFFF;
            background-color: #10385B;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            color: #FFFFFF;
            margin-left: 20px;
        }

        

    }
  }


  .btmnav
  {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;


    &__lft
    {
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;

        img
        {
            height: 28px;
            width: 150px;
        }
    }

    &__rgt
    {
        display: flex;
        height: 100%;
        width: auto;

        ul
        {
            display: flex;
            align-items: center;
            list-style-type: none;

            li
            {
                margin: auto 8px;

                a
                {
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    color: #10385B;
                }
            }
        }
    }



  }
}


@media (min-width: 400px) and (max-width: 1000px) {

  .nav
  {
    height: auto;
    padding: 0;
    .topnav {
      display: inline-block;
      height: auto;
      border: 0;
      padding: 0px;

      &__lft
      {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
      }

      &__rgt 
      {
        width: 100%;
        display: flex;
        justify-content: space-between;

        ul
        {
          
     li::before {
                content: initial;
                
              }
        }
      }
      
    
   }
   .btmnav
   {
    height: auto;
    padding: 0;
    display: inline-block;

    img
    {
      margin: 8px;
    }
    ul
    {
      overflow-x: scroll;
    }
   }
  }
  
}