.tanab {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;

  &__1 {
    height: 204px;
    width: 175px;

    &__tp {
      display: flex;
      justify-content: space-between;
      align-items: end;

      img {
        width: 45px;
        height: 35px;
      }

      div {
        width: 60px;
        height: 10px;
        border-top: 2px dashed rgba(136, 173, 200, 1);
      }
    }

    h1 {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      margin: 10px auto;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__2 {
    height: 204px;
    width: 175px;

    &__tp {
      display: flex;
      justify-content: space-between;
      align-items: end;

      img {
        width: 45px;
        height: 35px;
      }

      div {
        width: 60px;
        height: 10px;
        border-top: 2px dashed rgba(136, 173, 200, 1);
      }
    }

    h1 {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      margin: 10px auto;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__3 {
    height: 204px;
    width: 175px;

    &__tp {
      display: flex;
      justify-content: space-between;
      align-items: end;

      img {
        width: 45px;
        height: 35px;
      }

      div {
        width: 60px;
        height: 10px;
        border-top: 2px dashed rgba(136, 173, 200, 1);
      }
    }

    h1 {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      margin: 10px auto;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__4 {
    height: 204px;
    width: 175px;

    &__tp {
      display: flex;
      justify-content: space-between;
      align-items: end;

      img {
        width: 45px;
        height: 35px;
      }

      div {
        width: 60px;
        height: 10px;
        border-top: 2px dashed rgba(136, 173, 200, 1);
      }
    }

    h1 {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      margin: 10px auto;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__5 {
    height: 204px;
    width: 175px;

    &__tp {
      display: flex;
      justify-content: space-between;
      align-items: end;

      img {
        width: 45px;
        height: 35px;
      }

      div {
        width: 60px;
        height: 10px;
        border-top: 2px dashed rgba(136, 173, 200, 1);
      }
    }

    h1 {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      margin: 10px auto;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__6 {
    height: 341px;
    width: 198px;
    display: flex;
    align-items: end;
    position: relative;
    padding-bottom: 40px;

    &__img {
      position: absolute;
      top: -40px;
      left: 15px;
    }

    &__desc {
      height: 244px;
      width: 198px;
      background-color: rgba(43, 152, 247, 1);
      text-align: center;
      padding-top: 70px;

      img {
        width: 36px;
        height: 32px;
      }

      h3 {
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        color: white;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: white;
      }
    }
  }
}

.tanabhead {
  height: 70px;
  width: 100%;
  padding-left: 50px;

  &__tp {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;

    h3 {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: rgba(16, 56, 91, 1);
    }

    p {
      width: 295px;
      border-top: 1px solid rgba(16, 56, 91, 1);
      height: 0;
      margin-left: 30px;
    }
  }

  &__btm
  {
    height: auto;
    width: auto;

    h2
    {
        font-weight: 600;
        font-size: 28px;
        line-height: 40px;
        color: rgba(16, 56, 91, 1);
    }
  }
}
